<% layout('layouts/boilerplate') %> 
<h1>Login</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" placeholder = '' name="username" id="username" required>
    <div class="invalid-feedback">Please enter a username</div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" placeholder = '' name="password" id="password" required>
    <div class="invalid-feedback">Please enter a password</div>
    <button class="btn btn-success mt-3">Login</button>
</form>